.about > header{
    font-size: 200px;
    text-align: center;
    /*background: rgba(20, 255, 0, 0.1);*/
    color: white;
}
.about {
    background: url(../img/ForrestTall.jpeg) fixed center no-repeat;
    background-size:cover;
}
table, tr, td{
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}
.container-fluid {
    border: 1px solid white;
}
#mainsection {
    float:left;
    font-size: 20px;
    color: white;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    border-right: 1px solid white;
    max-height: 100%;
}
#sidebar {
    float:right;
    font-size: 20px;
    color: white;
    /*background-color: rgba(20, 255, 0, .1);*/
    /*border: 1px solid white;*/
    text-align: center;
}
#sidebar > img {
    border-radius: 50%;
    width:270px;
    height:auto;
    border: 1px solid white;
}
