body {
    font-size: 20px;
    margin: 0;
    background-color: grey;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    text-align: center;
    color: white;
}
.ugly, .beautiful, button {
    width:250px;
}
#mainimage:hover {
    transition: all 60s ease;
    transform: scale(1.1);
}
#homediv:hover, #aboutmediv:hover, #contactdiv:hover, i:hover{
    transform: translateX(-10px) translateY(-10px) scale(1.05);
    transition: all .3s ease;
    /*transform: scale(5) rotate(2000deg);*/
}
#section1 {
    background: url(../img/pose.jpg);
    padding: 5px 50px 50px 50px;
    background-position: center;
    background-size:cover;
    text-align: center;
    background-attachment:fixed;
    min-height:800px;

}
#section2 > button{
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    background-color: lime;
    border: 2px solid brown;
    box-shadow: 10px 10px 30px purple;
    transition: all .3s ease;

}
.beautiful {
    /*width: 250px; added to .ugly, .beautiful, button above*/
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: all 10s ease;
}
.beautiful:hover {
    transform: scale(2) rotate(45deg);
}
img {
    width: 100%;
    height: auto;
    /*padding-bottom: 10px;*/
    /*border-radius: 25px;*/
}
.container {
    position: relative;
}
.bottomright {
    position:absolute;
    top:20px;
    right: 30px;
    font-size: 18px;
    color: white;
}

.huerotate {
    -webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);
}
.grayscale {
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
}

.inbetween {
    /*width:300px;
    height:200px;*/
    /*padding: 5px;*/
    border:2px solid black;
    margin: 15px;
}

.image {
    position: relative;
    width: 100%;
}
i {
    color: white;
}
