
.menu {
    float: left;
    width: 110px;
    height: 30px;
    border: 1px solid white;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 20px;

}
.heading {
    font-size: 200px;
    text-align: center;
    color: white;
}
